@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik"), url("/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-display: auto;
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Work Sans"),
    url("/fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
  font-display: auto;
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Work Sans"),
    url("/fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
  font-display: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Work Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
